/* This file is part of Ecphoneme */

/* Copyright (C) 2014 Ivaylo Valkov <ivaylo@e-valkov.org> */

/* Ecphoneme is free software: you can redistribute it and/or modify it */
/* under the terms of the GNU Affero General Public License as published */
/* by the Free Software Foundation, either version 3 of the License, or */
/* (at your option) any later version. */

/* Ecphoneme is distributed in the hope that it will be useful, but */
/* WITHOUT ANY WARRANTY; without even the implied warranty of */
/* MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the GNU */
/* General Public License for more details. */

/* You should have received a copy of the GNU Affero General Public */
/* License along with Ecphoneme.  If not, see */
/* <http://www.gnu.org/licenses/>. */

#ecphoneme-logo {
    background: url('../ecphoneme-help-logo.png') 0 0 no-repeat;
    display:block;
    position: absolute;
    top: 50px;
    left: 620px;
    width: 250px;
    height: 250px; 
}


.toc a {
    border: 1px solid black;
    display: block;
    background-color: white;
    width: 150px;
    height: 25px;
    margin: 3px 0 3px 0;
    text-align: left;
    padding: 3px 5px 1px 14px;
    font-size: 14px;
    color: black;
    text-decoration: none;
    font-style: italic;
}

.toc a  > span {
    background: url("../search-bar-triangle.png") 0 0 no-repeat;
    display:block;
    height: 13px;
    width: 11px;
    float: right;
    right: 4px;
    top: 5px;
    position: relative;
}

.toc li {
    list-style-type: none;
}

a {
    color: #655d6e;
    color: #595261;
    font-weight: bold;
    text-decoration: none;
    font-style: italic;
}

a:hover {
    color: black;
}

body {
    background-color: #605d6e;
}

.content {
    background-color: #eeeeee;
    border: 1px solid black;
    border-radius: 10px;
    margin: 25px;
    padding: 25px;

}



#donate-downloads-page,
#donate {
    left: 18%;
    width: 82%;
    position: relative;
    display: block;
}

#donate-download-page {
    position: relative;
    clear: both;
    left: 10%;
    top: 10px;
}

.clear-floating,
.clear-donation-download-page {
    clear: both;
}

.donation-method-download-page,
.donation-method {
    display: block;
    float: left;
    position: relative;
    width: 100px;
}


.donate-paypal {
    top: -15px;
}


#litecoin-address {
    padding: 0px 0 5px 0;
}
